spring:
  application:
    name: quickstart-light
  datasource:
    url: jdbc:h2:./data_h2/mydb;AUTO_SERVER=TRUE
    driverClassName: org.h2.Driver
    username: sa
    password: password
  h2:
    console:
      settings:
        web-allow-others: true
      enabled: true
      path: /h2-console
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        dialect: org.hibernate.dialect.H2Dialect
    show-sql: true

server:
  port: 9201
  servlet:
    context-path: /${spring.application.name}

springdoc:
  show-actuator: true
  swagger-ui:
    path: /openapi-doc.html
logging:
  config: classpath:logback-spring.xml